<%- include('partials/header.ejs') %>
        <div id="listContainer">
            <br>
            <%
                if (Array.isArray(rows)) {
                    rows.forEach(function(row, i) { %>
                        <form><input type='hidden' class='listing' id=<%=row["products_ASIN"] %> name='<%=row["products_ASIN"] %>' value=<%=row["products_ASIN"] %>></form>
                        <div id="listLimiter">
                                <div class="listingContainer" id="itemInstance"></div>
                        </div>
                
            <% });}%>
        </div>
        <input type="hidden" id="productsLoader" name="productsLoader">
    </main>

<%- include('partials/footer.ejs') %>
<script src="js/allReviews.js"></script>