<%- include('partials/header.ejs') %>
        <br>
        <h2><%= currentUsername %>'s Profile</h2>
        <section id="profileInfo">
            <hr>
                
            <a href="/logout"><button class="btn btn-primary">Logout</button></a>
                
            <hr><b>Change Password:</b><br><br>
            <form method="POST" action="/changePassword">
                <label for="currentPassword" class="d-flex justify-content-center">Current Password: &nbsp<input type="password" id="currentPassword" name="currentPassword" class="input-group-text"></label>
                <br>
                <label for="newPassword" class="d-flex justify-content-center">New Password: &nbsp<input type="password" id="newPassword" name="newPassword" class="input-group-text"></label>
                <br>
                <label for="retypeNewPassword" class="d-flex justify-content-center">Retype New Password: &nbsp<input type="password" id="retypeNewPassword" name="retypeNewPassword" class="input-group-text"></label>
                <br>
                <button class="btn btn-primary">Change Password!</button>
            </form>
            
            <hr><b>Delete Account:</b><br><br>
            <form method="POST" action="/deleteAccount">
                <label for="deletionPassword" class="d-flex justify-content-center">Current Password:&nbsp<input type="password" id="deletionPassword" name="deletionPassword" class="input-group-text"></label>
                <button class="btn btn-danger">Delete Account!</button>
            </form>
        </section>
        <hr><br>
        <h3>Reviewed Products</h3>
        <section id="listContainer">
            <%
                if (Array.isArray(rows)) {
                    rows.forEach(function(row, i) { %>
                        <form><input type='hidden' class='listing' id=<%=row["products_ASIN"] %> name='<%=row["products_ASIN"] %>' value=<%=row["products_ASIN"] %>></form>
                        <div id="listLimiter">
                                <div class="listingContainer"></div>
                        </div>
            <% });}%>
            <% if (rows.length == 0) { %>
                    <h3 class="error">You have not yet made any reviews!</h3>
            <% } %>
        </section>
        <input type="hidden" id="productsLoader" name="productsLoader">
<%- include('partials/footer.ejs') %>                            
<script src="js/profile.js"></script>