<%- include('partials/header.ejs') %>
        
        <br>
        <section id="listLimiter">
            <div id="reviewProductListing"></div>
        </section>
        <!--Pressing enter sends a search, it does not submit the form.-->
        <form id="reviewForm">
            <lable>Leave a review:</lable><br>
            <textarea id="itemReview" name="itemReview" rows="4" cols="50"></textarea><br>
            <sub>What would you rate this item out of 5?<br>
            <select name="rating" id="rating">
                <option value="5">5/5</option>
                <option value="4">4/5</option>
                <option value="3">3/5</option>
                <option value="2">2/5</option>
                <option value="1">1/5</option>
            </select>
            </sub>
            <input type='hidden' id='asin' name='asin' value=<%= asin %>>
            <input type='hidden' id='username' name='username' value=<%= username %>>
            <br>
            <input class="btn btn-secondary" id="reviewSubmit" type="submit" value="Submit">
        </form>
        <section id="reviewscontainer">
            <br>
            <%
                if (Array.isArray(rows)) {
                    rows.forEach(function(row, i) { %>
                
                        <sub>User <strong><%=row["username"] %></strong> says...</sub>
                        <br>
                        <i><strong>"<%=row["reviewText"] %>"</strong></i>
                        <br>
                        <%
                            for (var j = 0; j < row["rating"]; j++) { %>
                                &star;
                        <%  }%>
                        <br>
                
            <% });}%>
            <br>
        </section>
        <input type="hidden" id="reviewsLoader" name='<%= asin %>'>
        </main>

<%- include('partials/footer.ejs') %>
<script src="js/review.js"></script>